.contact {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 80px 20px;
    text-align: center;
    border-radius: 25px;
  }
  
  .contact h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .contact p {
    font-size: 1.125rem;
    margin-top: 20px;
  }
  /* Social Links Styles */
  .social-links {
    margin-top: 30px;
  }
  
  .social-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #ddd;
  }
  
  .social-links .whatsapp-icon {
    color: #25D366;
  }
  
  .social-links .instagram-icon {
    color: #E1306C;
  }
  
  .social-links .telegram-icon {
    color: #0088cc;
  }

  .social-links .whatsapp-icon:hover , .social-links .telegram-icon:hover , .social-links .instagram-icon:hover{
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
  }
  @keyframes spin{
    from{transform:rotate(0deg);}
    to{transform: rotate(360deg);}
  }